[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cassandra-driver = "*"
python-dotenv = "*"
gtfs-realtime-bindings = "*"
requests = "*"
protobuf = "*"
pandas = "*"
npyscreen = "*"
matplotlib = "*"
numpy = "*"
jupyter = "*"
geopy = "*"
ipykernel = "*"
pickle5 = "*"
scipy = "*"
sklearn = "*"

[requires]
python_version = "3.6"
